<div class="form_c">
<div class="nom">
<span>Nom : {{info.nom}}</span>
  <span>Email : {{info.email}}</span>
  <span>Tel : {{info.tel}}</span>
</div>


    <div class="nom">
  <span>Un souhait pour une damnation?</span>
  <span class="reponse">Réponse sous 48 mois</span>
    </div>
<div class="button_f">
  <input type="text"
         [(ngModel)]="comment.message"  class="input_f" placeholder="blabla">
  <button (click)="addComment()" [disabled]="newComment" class="button_f">
    <span>Faire un souhait</span>
  </button>
</div>
<div class="nom">
<div *ngIf="comments.length>1">
  <h3>Liste des souhait :</h3>
  <span *ngFor="let c of comments">
    {{c.date|date: "M/d/yy"}} : {{c.message}}
  </span>
  <ng-template  *ngIf="comments.length==1">
    <p>Liste des commentaires est vide</p>
  </ng-template>
</div>
</div>
</div>
